# App
NODE_ENV=development
PORT=3001

# Database
DATABASE_URL=postgresql://postgres:ifyonyekeshy7@localhost:5432/payzeph

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

# Paystack
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

# VTPass
VTPASS_API_KEY=
VTPASS_PUBLIC_KEY=
VTPASS_SECRET_KEY=
VTPASS_BASE_URL=https://sandbox.vtpass.com/api

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Resend (email)
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@payzeph.com

# Sentry
SENTRY_DSN=
